body {
  background-color:black;
  color:white;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.category {
  font-size: 1.6em;
  margin-bottom: 30px;
}

.category a {
  color:white;
}

.category div {
  font-size: 1.3em;
  margin-top: 10px;
}

.category img {
  width:260px;
  height:260px;
}

.profil img {
  width:100px;
  height:100px;
}
